.xAiAgents {
  margin: 0 80px;
  padding-top: 64px;

  .info {
    display: flex;
    max-height: 60%;
  }

  .card {
    background: var(--background-primary);
    border: none;
  }

  .tab {
    padding: 20px;
    color: var(--text-muted-foreground);
    font-size: 14px;
  }

  .chat {
    z-index: 100;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 30px;
    transition: 0.3s;

    background-color: #ffffff25;

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 1440px) {
  .home {
    min-height: 100vh;

    .chat {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}